.page{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:10px;
}
.content {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-box{
    width:30%;
}
h2 {
    border-bottom: 3px solid rgba(193, 229, 231, 1);
    padding-bottom:20px;
}
#pinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:70%;
}
select[multiple], select[size] {
    height: 380px;
    width: 300px;
}