@using Hospital.Areas.Administration.Models
@model RelationshipModel
@{
    /**/

    Layout = null;
}
@Styles.Render("~/Content/Relationship.css")

@{
    using (Html.BeginForm())
    {
        <section class="partial-page">
            
            @Html.AntiForgeryToken()
            <div class="lists">
                <div class="doc-list">
                    <div class="select">
                        @Html.ListBoxFor(model => model.SelectedDoctorId, Model.Doctors, new { @id = "doctors", @class = "listbox", size = 10 })
                    </div>
                    <div class="doctors-sort sort-buttons">
                        <input type="submit" value="Name" formaction="~/Administration/Relationship/OrderDoctorByName" formmethod="post" class="btn btn-default" />
                        <input type="submit" value="Specialization" formaction="~/Administration/Relationship/OrderSpecializationDoctors" formmethod="post" class="btn btn-default" />
                        <input type="submit" value="Patients count" formaction="~/Administration/Relationship/OrderPatientsDoctors" formmethod="post" class="btn btn-default" />
                    </div>
                </div>
                <div class="pat-list">
                    <div class="select">
                        @Html.ListBoxFor(model => model.SelectedPatientId, Model.Patients, new { @id = "patients", @class = "listbox", size = 10 })
                    </div>
                    <div class="patients-sort sort-buttons">
                        <input type="submit" value="Name" formaction="~/Administration/Relationship/OrderPatientByName" formmethod="post" class="btn btn-default" />
                        <input type="submit" value="Birth Date" formaction="~/Administration/Relationship/OrderPatientByBirthDate" formmethod="post" class="btn btn-default" />
                    </div>
                </div>
            </div>
            @*@Html.ValidationMessageFor(x => x.SelectedDoctorId, "", new { @class = "text-danger" })*@
            <div class="submit-button">
                <input type="submit" value="Associate" formaction="~/Administration/Relationship/Associate" formmethod="post" class="btn btn-default" />
            </div>

        </section>
    }
}





